@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 215 16% 47%;
    --chart-1: 212 95% 68%;
    --chart-2: 216 92% 60%;
    --chart-3: 221 83% 53%;
    --chart-4: 224 76% 48%;
    --chart-5: 226 71% 40%;
    --sidebar: 210 40% 98%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 222 47% 11%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 96%;
    --sidebar-accent-foreground: 222 47% 11%;
    --sidebar-border: 214 32% 91%;
    --sidebar-ring: 215 16% 47%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: 223.8136 0.0000% 3.9388%;
    --foreground: 223.8136 0.0004% 98.0256%;
    --card: 0 0% 5.0980%;
    --card-foreground: 223.8136 0.0004% 98.0256%;
    --popover: 223.8136 0.0000% 14.9382%;
    --popover-foreground: 223.8136 0.0004% 98.0256%;
    --primary: 0 48.9362% 53.9216%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 7.8431%;
    --secondary-foreground: 223.8136 0.0004% 98.0256%;
    --muted: 223.8136 0.0000% 14.9382%;
    --muted-foreground: 223.8136 0.0000% 63.0163%;
    --accent: 0 0% 7.8431%;
    --accent-foreground: 223.8136 0.0004% 98.0256%;
    --destructive: 358.7594 101.8439% 69.8357%;
    --destructive-foreground: 223.8136 0.0004% 98.0256%;
    --border: 223.8136 0.0000% 15.5096%;
    --input: 223.8136 0.0000% 20.3885%;
    --ring: 223.8136 0.0000% 45.1519%;
    --chart-1: 0 48.9362% 53.9216%;
    --chart-2: 0 82.1429% 78.0392%;
    --chart-3: 0 27.8351% 38.0392%;
    --chart-4: 0 10.8108% 29.0196%;
    --chart-5: 0 12.6437% 17.0588%;
    --sidebar: 0 0% 5.0980%;
    --sidebar-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-primary: 0 48.9362% 53.9216%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0.0000% 14.9382%;
    --sidebar-accent-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-border: 223.8136 0.0000% 15.5096%;
    --sidebar-ring: 223.8136 0.0000% 32.1993%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
